<!DOCTYPE html>
<html>

<head>
    <!-- ws: 引入公共样式 -->
    {{{include '../widget/public_style'}}}
    <!-- we: 引入公共样式 -->

    <!--ws: 私有样式 -->
    <link rel="stylesheet" href="../../../vendor/slick/css/slick.css">
    <link rel="stylesheet" href="../../../vendor/slick/css/slick-theme.css">
    <link rel="stylesheet" href="../css/page/brand.css">
    <!--we: 私有样式 -->
</head>

<body class="brand" style="visibility:hidden">

  <!-- ws: 引入公共头部-->
  {{{include '../widget/header'}}}
  <!-- we: 引入公共头部-->

  <!-- ws: 内容区-->
  <!-- ws: banner广告-->
  <div class="banner">
      <div>
          <a href="./details.html">
              <img class="slider__banner-img" src="../images/brand/banner_pro1.jpg">
          </a>
      </div>
      <div>
          <a href="./details.html">
              <img class="slider__banner-img" src="../images/index/banner1.jpg">
          </a>
      </div>
  </div>
  <!-- we: banner广告-->

  <!-- ws: 热门品牌-->
  <div class="container-bg">
    <div class="hot-brand container">
    <div class="hot-brand-wrap">
      <div class="hot-brand-head">
        热门品牌
      </div>
      <div class="hot-brand-body">

        <!-- ws: hot-brand-item-->
        <div class="hot-brand-item">
          <div class="hot-brand-item-wrap">
            <div class="hot-brand-logo">
              <img src="../images/brand/hot_logo.png" />
            </div>
            <div class="hot-brand-detail">
              <h4>用友网络</h4>
              <p>
                为云上客户提供数据库防火墙、加密、审计、漏洞扫描、脱敏等产品
                为云上客户提供数据库防火墙、加密、审计、漏洞扫描、脱敏等产品
                为云上客户提供数据库防火墙、加密、审计、漏洞扫描、脱敏等产品
                为云上客户提供数据库防火墙、加密、审计、漏洞扫描、脱敏等产品
              </p>
              <a href="#">进入店铺</a>
            </div>
          </div>
        </div>
        <!-- we: hot-brand-item-->
        <!-- ws: hot-brand-item-->
        <div class="hot-brand-item">
          <div class="hot-brand-item-wrap">
            <div class="hot-brand-logo">
              <img src="../images/brand/hot_logo.png" />
            </div>
            <div class="hot-brand-detail">
              <h4>用友网络</h4>
              <p>
                为云上客户提供数据库防火墙、加密、审计、漏洞扫描、脱敏等产品
              </p>
              <a href="#">进入店铺</a>
            </div>
          </div>
        </div>
        <!-- we: hot-brand-item-->
        <!-- ws: hot-brand-item-->
        <div class="hot-brand-item hot-brand-item-3n">
          <div class="hot-brand-item-wrap">
            <div class="hot-brand-logo">
              <img src="../images/brand/hot_logo.png" />
            </div>
            <div class="hot-brand-detail">
              <h4>用友网络</h4>
              <p>
                为云上客户提供数据库防火墙、加密、审计、漏洞扫描、脱敏等产品
              </p>
              <a href="#">进入店铺</a>
            </div>
          </div>
        </div>
        <!-- we: hot-brand-item-->
        <!-- ws: hot-brand-item-->
        <div class="hot-brand-item">
          <div class="hot-brand-item-wrap">
            <div class="hot-brand-logo">
              <img src="../images/brand/hot_logo.png" />
            </div>
            <div class="hot-brand-detail">
              <h4>用友网络</h4>
              <p>
                为云上客户提供数据库防火墙、加密、审计、漏洞扫描、脱敏等产品
              </p>
              <a href="#">进入店铺</a>
            </div>
          </div>
        </div>
        <!-- we: hot-brand-item-->
        <!-- ws: hot-brand-item-->
        <div class="hot-brand-item">
          <div class="hot-brand-item-wrap">
            <div class="hot-brand-logo">
              <img src="../images/brand/hot_logo.png" />
            </div>
            <div class="hot-brand-detail">
              <h4>用友网络</h4>
              <p>
                为云上客户提供数据库防火墙、加密、审计、漏洞扫描、脱敏等产品
              </p>
              <a href="#">进入店铺</a>
            </div>
          </div>
        </div>
        <!-- we: hot-brand-item-->
        <!-- ws: hot-brand-item-->
        <div class="hot-brand-item hot-brand-item-3n">
          <div class="hot-brand-item-wrap">
            <div class="hot-brand-logo">
              <img src="../images/brand/hot_logo.png" />
            </div>
            <div class="hot-brand-detail">
              <h4>用友网络</h4>
              <p>
                为云上客户提供数据库防火墙、加密、审计、漏洞扫描、脱敏等产品
              </p>
              <a href="#">进入店铺</a>
            </div>
          </div>
        </div>
        <!-- we: hot-brand-item-->
      </div>
    </div>
  </div>
  </div>
  <!-- we: 热门品牌-->

  <!-- ws: 品牌热门系列-->
  <div class="container-bg">
    <div class="class-brand container">
    <div class="class-brand-wrap">
      <div class="class-brand-head">
        品牌热门系列
      </div>
      <div class="class-brand-body">
        <div class="class-brand-shop">
          <div class="class-brand-shop-line"></div>
          <div class="class-brand-shop-wrap">
            <div class="company-logo">
              <img src="../images/brand/ser_logo.png" />
            </div>
              <p>
                为云上客户提供数据库防火墙、加密、审计、漏洞扫描、脱敏等产品
              </p>
              <a href="#">进入店铺</a>
          </div>
        </div>
        <div class="class-brand-app">

          <!--ws: class-brand-item-->
          <div class="class-brand-item">
            <div class="class-brand-logo">
              <img src="../images/index/app/app1.png" />
            </div>
            <div class="class-brand-name">
              U商场域名备案
            </div>
            <p>
              代用户申请域名备案
            </p>
            <div class="class-brand-price">
              <span>¥</span>
              <span>200</span>
              <span>/次</span>
            </div>
            <a href="#">立即购买</a>
          </div>
          <!--we: class-brand-item-->
          <!--ws: class-brand-item-->
          <div class="class-brand-item">
            <div class="class-brand-logo">
              <img src="../images/index/app/app1.png" />
            </div>
            <div class="class-brand-name">
              U商场域名备案
            </div>
            <p>
              代用户申请域名备案
            </p>
            <div class="class-brand-price">
              <span>¥</span>
              <span>200</span>
              <span>/次</span>
            </div>
            <a href="#">立即购买</a>
          </div>
          <!--we: class-brand-item-->
          <!--ws: class-brand-item-->
          <div class="class-brand-item">
            <div class="class-brand-logo">
              <img src="../images/index/app/app1.png" />
            </div>
            <div class="class-brand-name">
              U商场域名备案
            </div>
            <p>
              代用户申请域名备案
            </p>
            <div class="class-brand-price">
              <span>¥</span>
              <span>200</span>
              <span>/次</span>
            </div>
            <a href="#">立即购买</a>
          </div>
          <!--we: class-brand-item-->
          <!--ws: class-brand-item-->
          <div class="class-brand-item">
            <div class="class-brand-logo">
              <img src="../images/index/app/app1.png" />
            </div>
            <div class="class-brand-name">
              U商场域名备案
            </div>
            <p>
              代用户申请域名备案
            </p>
            <div class="class-brand-price">
              <span>¥</span>
              <span>200</span>
              <span>/次</span>
            </div>
            <a href="#">立即购买</a>
          </div>
          <!--we: class-brand-item-->
        </div>
      <!----------------------------------->
      <div class="class-brand-shop">
        <div class="class-brand-shop-line"></div>
        <div class="class-brand-shop-wrap">
          <div class="company-logo">
            <img src="../images/brand/ser_logo.png" />
          </div>
            <p>
              为云上客户提供数据库防火墙、加密、审计、漏洞扫描、脱敏等产品
            </p>
            <a href="#">进入店铺</a>
        </div>
      </div>
      <div class="class-brand-app">

        <!--ws: class-brand-item-->
        <div class="class-brand-item">
          <div class="class-brand-logo">
            <img src="../images/index/app/app1.png" />
          </div>
          <div class="class-brand-name">
            U商场域名备案
          </div>
          <p>
            代用户申请域名备案
          </p>
          <div class="class-brand-price">
            <span>¥</span>
            <span>200</span>
            <span>/次</span>
          </div>
          <a href="#">立即购买</a>
        </div>
        <!--we: class-brand-item-->
        <!--ws: class-brand-item-->
        <div class="class-brand-item">
          <div class="class-brand-logo">
            <img src="../images/index/app/app1.png" />
          </div>
          <div class="class-brand-name">
            U商场域名备案
          </div>
          <p>
            代用户申请域名备案
          </p>
          <div class="class-brand-price">
            <span>¥</span>
            <span>200</span>
            <span>/次</span>
          </div>
          <a href="#">立即购买</a>
        </div>
        <!--we: class-brand-item-->
        <!--ws: class-brand-item-->
        <div class="class-brand-item">
          <div class="class-brand-logo">
            <img src="../images/index/app/app1.png" />
          </div>
          <div class="class-brand-name">
            U商场域名备案
          </div>
          <p>
            代用户申请域名备案
          </p>
          <div class="class-brand-price">
            <span>¥</span>
            <span>200</span>
            <span>/次</span>
          </div>
          <a href="#">立即购买</a>
        </div>
        <!--we: class-brand-item-->
        <!--ws: class-brand-item-->
        <div class="class-brand-item">
          <div class="class-brand-logo">
            <img src="../images/index/app/app1.png" />
          </div>
          <div class="class-brand-name">
            U商场域名备案
          </div>
          <p>
            代用户申请域名备案
          </p>
          <div class="class-brand-price">
            <span>¥</span>
            <span>200</span>
            <span>/次</span>
          </div>
          <a href="#">立即购买</a>
        </div>
        <!--we: class-brand-item-->
      </div>
      </div>
    </div>
  </div>
  </div>
  <!-- we: 品牌热门系列-->
  <!-- we: 内容区-->

  <!-- ws:引入公共footer -->
  {{{include '../widget/footer_fix'}}}
  <!-- we:引入公共footer -->

  <!-- ws: 引入公共js-->
    {{{include '../widget/public_script'}}}
  <!-- we: 引入公共js-->

  <!--ws: 公共Script -->
  {{{include '../widget/public_script'}}}
  <!--we: 公共Script -->
  <script>
    require( ['brand'], function() {
    });
  </script>
</body>
</html>
