<!DOCTYPE html>
<html>
<head>
    <!-- ws: 引入公共样式 -->
    {{{include '../widget/public_style'}}}
    <!-- we: 引入公共样式 -->
</head>
<body style="visibility:hidden;">
    <img src="../images/logo.png" />
    <div id="user_info">
        <script id="userInfo" type="text/html">
            <h1>{{data.title}}</h1>
            <p>{{data.name}}</p>
        </script>
    </div>
    <!--ws: 公共Script -->
    {{{include '../widget/public_script'}}}
    <!--we: 公共Script -->
    <script>
    //通过require的方式来引入需要的js
      require( ['index'], function() {
      });
    </script>
</body>

</html>
