<!DOCTYPE html>
<html>

<head>
    <title>用友云</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no">
    <meta name="description" content="用友云" />
    <meta name="keywords" content="用友云" />
    <meta name="author" content="用友" />
    <!--ws:引用公共样式 -->
    {{{include '../widget/public_style'}}}
    <!--we:引用公共样式 -->
</head>

<body class="protocol" style="visibility:hidden">
    <!--ws:公共头部导航-->
    {{{include '../widget/header'}}}
    <!--we:公共头部导航-->
    <!--ws:banner-->
    <div class="protocol-banner">
        <img src="../images/protocol/banner.jpg" />
    </div>
    <!--we:banner-->
    <div class="protocol-line"></div>
    <!--ws: 面包屑-->
    <div class="protocol-nav-bg">
        <div class="protocol-nav container">
            <ul>
                <li>
                    <a href="index.html">首页</a>
                </li>
                <li>
                    商品服务协议
                </li>
            </ul>
        </div>
    </div>
    <!--we: 面包屑-->
    <div class="protocol-line"></div>
    <!-- ws:关于我们-->
    <div class="about container">
        <div class="about-head">
            商品服务协议
        </div>
        <div class="about-body">
            <ul>
                <li>
                    感谢您选择用友网络科技股份有限公司 （以下简称“用友股份”）的云服务产品应用及运营服务（以下简称“云服务产品”）。 欢迎阅读以下《用友股份云服务协议》 (下称“云服务协议”)。本协议内容包括协议正文及所有用友股份已经发布或将来可能发布的各类规则。所有规则为协议不可分割的一部分，与协议正文具有同等法律效力。 本协议是您与用友股份之间关于您使用用友股份云服务产品所订立的条款。为使用用友股份的云服务产品，您应当阅读并遵守本协议，请您务必审慎阅读、充分理解各条款内容，特别是免除或者限制责任的条款。限制、免责条款可能以黑体加粗形式提示您注意。 您同意并接受如下《云服务协议》后才能正式进入用友股份云服务产品在线申请程序，如果您愿意接受《云服务协议》，请您点击继续。否则，请您退出。
                </li>
            </ul>
            <ul>
                <li class="pro_title">
                    第一条定义
                </li>
                <li>
                    1、云服务产品：指由用友股份信息技术有限公司自主开发研制，且享有独立知识产权的在线应用及服务平台；或者由其他合作伙伴开发研制且授权用友股份信息技术有限公司负责销售事宜的在线应用及服务平台。
                </li>
                <li>
                    2、用户：指接受用股份提供的云服务产品应用及运营服务并接受相关技术及网络支持服务的个人、企业、公司、事业单位等其他依据中华人民共和国法律享有民事权利并能独立承担民事义务的组织。
                </li>
                <li>
                    3、应用服务：指用友股份提供包含云服务产品所有功能的应用。
                </li>
                <li>
                    4、运营服务：指除应用服务外基于用户需求，用友股份为用户提供的服务。
                </li>
            </ul>
            <ul>
                <li>
                    第二条购买服务
                </li>
                <li>
                    1、用友股份对云服务产品按照订单显示的租期和价格计收租赁费用。
                </li>
                <li>
                    2、首次交费：用户通过market.yonyoucloud.com提交购买服务订单并支付费用后，用户可享受有期限的云服务产品。服务期限自用户成功付费之日起计算，至market.aliyun.com相关页面显示的服务终止日为止。
                </li>
                <li>
                    3、续费：服务期满双方愿意继续合作的，用户应在服务期满前一个月内通过market.yonyoucloud.com支付续费款项，以使服务得以继续进行。如届时用友股份公司对产品体系、名称或价格进行调整的，双方同意按照届时有效的新的产品体系、名称或价格履行。
                </li>
                <li>
                    4、用户完全理解云服务产品价格体系中所有的赠送项目均为云服务产品在正常服务价格之外的一次性特别优惠，优惠内容不包括赠送服务项目的修改、更新及维护费用，并且赠送服务项目不可冲抵云服务产品服务费用。
                </li>
            </ul>
            <ul>
                <li>
                    第三条应用服务交付
                </li>
                <li>
                    用户需凭借有效的账号和相应的管理员密码（密码）方可使用云服务产品。在用户通过market.yonyoucloud.com提交购买服务订单并支付费用后，用友股份向用户提供管理员密码。管理员密码的交付即视为云服务产品应用服务的交付完成。
                </li>
            </ul>
            <ul>
                <li>
                    第四条运营服务交付
                </li>
                <li>
                    用友股份负责为用户提供在线基础运营服务，包括为用户提供产品操作指导及问题解答等。如用户需要现场服务支持，需由用户和用友股份另行签署服务协议。
                </li>
            </ul>
            <ul>
                <li>
                    第五条账号
                </li>
                <li>
                    1、账号创建
                    <br> 用户使用云服务产品，需注册一个账号。该账号是用户用来管理云产品验证身份的凭据。为了创建账号，用户可能需要提供用户名和密码、某些资料信息，以及“账号证明”，如企业名称、备用电子邮件地址或电话号码。
                </li>
                <li>
                    2、账号使用权
                    <br>账号的所有权归用友股份所有，用户完成申请注册手续后，仅获得该账号的使用权，且该使用权仅属于初始申请注册人。同时，初始申请注册人不得赠与、借用、租用、转让或售卖账号或者以其他方式许可非初始申请注册人使用账号。非初始申请注册人不得通过受赠、继承、承租、受让或者其他任何方式使用账号。
                </li>
                <li>
                    3、账号安全
                    <br> 用户有义务在注册时提供自己的真实资料，并保证诸如电子邮件地址、联系电话、联系地址等内容的有效性及安全性。如您因网上交易与其他用户产生诉讼的，其他用户有权通过司法部门要求网站提供相关资料。用户申请并创建成功账号后，用户不得将账号信息透露给任何其他人。用户自行负责自己账号的保密和安全，并对用户的账号发生的或通过用户的账号发生的一切活动负全责，而且用户同意将用户的账号出现的任何违反安全原则的情况立即通知用友股份。对于对用户的账号的擅自使用引起的任何损失，用友股份不承担任何责任。 用友股份特别提醒用户应妥善保管用户的账号和密码。当用户使用完毕后，应安全退出。因用户保管不善可能导致遭受盗号或密码失窃，责任由用户自行承担。如果用户忘记密码，或因其他原因而无法访问账号，用户可以通过重新设置密码来恢复用户的账号。用友股份不保证用户的账号将能够还原，或者用户的用户内容受到保护。
                </li>
            </ul>
            <ul>
                <li>
                    第六条 第三方应用：
                </li>
                <li>
                    乙方尽可能协调甲方购买的应用中第三方服务的正常运行，但因第三方服务的提供方原因而导致的服务中断或延迟服务，乙方不承担由此带来的一切责任。
                </li>
            </ul>
            <ul>
                <li>
                    第七条数据安全
                </li>
                <li>
                    用友股份承诺在有任何甲方数据因服务器存储设备损坏时以最快的速度从最近的备份中恢复数据，但无法承诺100％的数据恢复，对因用友股份原因造成的数据丢失或损失，用友股份的补偿标准不超过基于该次具体业务而取得的收益总额。用友股份将全力确保用户数据安全，关于用户数据的保护以用友股份发布的《隐私权政策》为准，用友股份对于非由股份公司故意或重大过失导致的用户数据丢失或泄露不承担任何附带、间接、惩罚性、特殊的责任，除非法律或有权机关另有规定。
                </li>
            </ul>
            <ul>
                <li>
                    第八条知识产权
                </li>
                <li>
                    1、用友股份对用户提供的云服务产品（第三方授权用友股份销售的云服务产品除外）享有一切知识产权，包括但不限于著作权、专利权、商标权、商业秘密等。
                </li>
                <li>
                    2、未经用友股份的书面同意，用户不得对用友股份提供的云服务产品进行反向工程、反向编译、反向破解等。
                </li>
                <li>
                    3、未经用友股份的同意，用户不得擅自使用与用友股份商标相同或近似的商标、标识。
                </li>
                <li>
                    4、用户对用友股份的知识产权应尽保护义务，否则，用户有赔偿的责任。
                </li>
            </ul>
            <ul>
                <li>
                    第九条保密
                </li>
                <li>
                    1、用户同意，用友股份可在遵循合法、正当、必要的原则下收集用户的信息。用友股份公司对用户的信息将严格进行保密，未经用户的同意，用友股份不会泄露或使用用户的数据。
                </li>
                <li>
                    2、在如下情况下，用友股份可能会披露您的信息：
                </li>
                <li>2.1事先获得您的授权。</li>
                <li> 2.2根据法律、法规、法律程序的要求或政府主管部门的强制性要求。</li>
                <li> 2.3以学术研究或公共利益为目的。</li>
                <li> 2.4为维护用友股份的合法权益，例如查找、预防、处理欺诈或安全方面的问题。</li>
                <li> 2.5符合相关服务条款或使用协议的规定。</li>
                <li>
                    3、用友股份云服务产品可能含有某些第三方提供的应用，而这些第三方应用需使用用户信息时，在经得用户同意的情况下，用友股份将向第三方提供用户的信息。
                </li>
                <li>
                    本协议之效力、解释、变更、执行与争议解决均适用中华人民共和国法律。因本协议产生之争议，均应依照提交北京市海淀区人民法院予以审理。
                </li>
                <li>
                    本协议之效力、解释、变更、执行与争议解决均适用中华人民共和国法律。因本协议产生之争议，均应依照提交北京市海淀区人民法院予以审理。
                </li>
            </ul>
            <ul>
                <li>
                    第十条 服务的变更及终止
                </li>
                <li>
                    1、如果用户本服务期限届满决定不再续费，则请用户在服务有效期届满前7个工作日内备份用户存储于云资源服务器上的信息。用友股份在服务期限届满7个工作日内将停用云服务产品服务。停用之日起，用友股份将删除用户在数据库中的全部内容，由此带来的一切后果由用户自行负责。
                </li>
                <li>
                    2、在法律允许的范围内，如发生下列任何一种情形，用友股份有权不经通知而中断、中止或终止服务：
                </li>
                <li>2.1受到计算机病毒、木马或其他恶意程序、黑客攻击的破坏。</li>
                <li> 2.2用户或用友股份的电脑软件、系统、硬件和通信线路出现故障。</li>
                <li> 2.3用户违反相关法律法规或本协议的约定。</li>
                <li> 2.4用户通过非用友股份授权的方式使用本服务。</li>
                <li> 2.5根据法律规定用户应提交真实信息，而用户提供的个人资料不真实、或与注册时信息不一致又未能提供合理证明。</li>
                <li> 2.6按照法律规定或主管部门的要求。</li>
                <li> 2.7出于安全的原因或其他必要的情形。</li>
                <li> 2.8其他用友股份无法控制或合理预见的情形。</li>
            </ul>
            <ul>
                <li>第十一条免责条款</li>
                <li> 1、用户理解，鉴于计算机、互联网的特殊性，下述情况不属于用友股份违约：</li>
                <li> 1.1用友股份在进行服务器配置、维护时，需中断服务。</li>
                <li> 1.2由于Internet上的通路阻塞造成用户网站访问速度下降。</li>
                <li> 1.3因黑客问题、电信部门技术调整和政府管制等引起的事件。</li>
                <li> 1.4如果因用户原因，用户的应用给所在服务器带来异常大的负荷，以致影响服务器的正常运行或者影响其他用户的正常使用（包括但不限于大量占用用友股份云产品服务器内存、CPU资源的行为），用友股份有权关闭用户的云产品服务，终止服务且余款不予退还。</li>
                <li> 1.5不可抗力是指不能预见、不能克服并不能避免且对一方或双方当事人造成重大影响的客观事件，包括但不限于自然灾害如洪水、地震、瘟疫流行等以及社会事件如战争、动乱、政府行为、电信主干线路中断等。因不可抗力或者其他意外事件，使得本服务条款的履行不可能、不必要或者无意义的，遭受不可抗力、意外事件的一方不承担责任。</li>
                <li>2、用户理解并同意：</li>
                <li>2.1因现有技术限制，用友股份提供的服务可能存在瑕疵，并不能保证在任何情况下都能正常执行或达到用户所期望的结果。</li>
                <li> 2.2因用户使用服务所致的任何损害，用户同意用友股份的最高赔偿限额不应超过用户向用友股份支付的服务使用许可费用。</li>
                <li>3、本服务条款其他条款对责任承担另有规定的，从其规定。</li>
            </ul>
            <ul>
                <li>第十二条完整协议</li>
                <li> market.yonyoucloud.com相关网页上关于云服务产品的服务说明、价格说明、申请表格等是本《云服务协议》不可分割的一部分，与本条款具有同等法律效力。</li>
            </ul>
            <ul>
                <li>第十三条管辖与适用法律</li>
                <li> 1、本协议适用中华人民共和国法律。</li>
                <li> 2、因本协议引起的或与本协议有关的任何争议，各方应友好协商解决。协商不成的，任何一方均可将有关争议提交至北京市海淀区人民法院以诉讼方式解决。</li>
            </ul>
            <ul>
                <li>第十四条其他</li>
                <li>1、本协议所有条款的标题仅为阅读方便，本身并无实际涵义，不能作为本协议涵义解释的依据。</li>
                <li> 2、本协议条款无论因何种原因部分无效或不可执行，其余条款仍有效，对双方具有约束力。 用户在此再次确认已经完全阅读并理解了上述用友股份云服务协议，并自愿正式进行用友股份用友云服务申请程序，接受上述条款的约束。
                </li>
            </ul>
        </div>
    </div>
    <!-- we:关于我们-->
    <div class="protocol-line" style="margin-bottom:29px;"></div>
    <!-- ws: 公共底部 -->
    {{{include '../widget/footer_fix'}}}
    <!-- wd: 公共底部 -->
    <!--ws: 公共Script -->
    {{{include '../widget/public_script'}}}
    <!--we: 公共Script -->
    <script>
    require(['protocol'], function() {});
    </script>
</body>

</html>
