<!DOCTYPE html>
<html>

<head>
    <!-- ws: 引入公共样式 -->
    {{{include '../widget/public_style'}}}
    <!-- we: 引入公共样式 -->
</head>

<body style="visibility:hidden;">
    <!-- ws: 引入公共头部-->
    {{{include '../widget/header'}}}
    <!-- we: 引入公共头部-->
    <!-- ws : 内容区域-->
    <div class="container shop">
        <!--ws:product产品-->
        <div class="product">
            <div class="product-img">
                <img src="../images/index/noimage.jpg" />
            </div>
            <div class="product-content">
                <span class="product-content-name">***</span>
                <p class="product-content-detail">***</p>
            </div>
        </div>
        <!--we:product产品-->
        <!--ws:产品简介-->
        <div class="shop-content">
            <div class="shop-content-left">
                <ul class="nav nav-tabs" role="tablist" id="cloudApp">
                    <li role="presentation" class="active"><a href="#briefinfo">公司简介</a></li>
                    <li role="presentation"><a href="#allproducts">全部产品</a></li>
                </ul>
                <div class="tab-content">
                    <div id="briefinfo" class="tab-pane active">
                        <div class="company-profile">
                            <!--第一个页签内容-->
                            <div style="width:100%;">
                                <!-- ws:banner -->
                                <div class="compro-banner">
                                    <img src="../images/shop/tuiguang1.jpg">
                                </div>
                                <!-- we:banner -->
                                <!-- ws:热销产品 -->
                                <div class="compro-hotsales">
                                  <script id="telHotProduct" type="text/html">
                                    <div class="hotsales-title">店铺热销产品</div>
                                    {{each data as product}}
                                      <div class="hotsales-item">
                                          <div class="hotsales-item_img">
                                              <a href="details.html?id={{product.productId}}"><img src="{{product.logo}}"></a>
                                          </div>
                                          <div class="hotsales-item_name">
                                              <span>
                                                <a href="details.html?id={{product.productId}}">
                                                  {{product.productName}}
                                                </a>
                                            </span>
                                          </div>
                                          <div class="hotsales-item_detail">
                                              <p>
                                                {{product.slogan}}
                                              </p>
                                          </div>
                                      </div>
                                    {{/each}}
                                  </script>
                                  <div class="telHotProduct">
                                  </div>
                                </div>
                                <!-- we:热销产品 -->
                                <!-- ws:推广 -->
                                <div class="compro-extend">
                                    <img src="../images/shop/tuiguang2.jpg">
                                </div>
                                <!-- we:推广 -->
                            </div>
                        </div>
                    </div>
                    <div id="allproducts" class="tab-pane">
                        <!--ws:第二 个页签-->
                        <!--we:第二个页签-->
                    </div>
                </div>
            </div>
            <div class="shop-content-right">
                <div class="contact">
                  <ul>
                      <!--  <li>
                        <div class="consultation">在线咨询：</div>
                        <div class="service">
                            <span class="service-item online">智能客服01</span>
                            <span class="service-item online">智能客服01</span>
                            <span class="service-item unline">智能客服01</span>
                            <span class="service-item online">智能客服01</span>
                            <span class="service-item unline">智能客服01</span>
                            <span class="service-item unline">智能客服01</span>
                        </div>
                        <div class="line"></div>
                      </li>-->
                      <li><em>热线电话：</em><span>400-666-51886</span></li>
                      <li><em>电子邮件：</em><span>Service@yonyou.com</span></li>
                    <!--  <li><em>通讯地址：</em><span>中国北京市海淀区北清路68号用友软件园C区8号楼二层2001郭小阳收件</span></li>-->
                  </ul>
                </div>
                <!-- <div class="shop-content-right-bottom">
                    <p></p>
                    <div class="search-form">
                        <input type="text" name="search" />
                        <button>获取</button>
                    </div>
                </div> -->
            </div>
        </div>
        <!--we:产品简介-->
    </div>
    <!-- we : 内容区域-->
    <!-- ws:引入公共footer -->
    {{{include '../widget/footer_fix'}}}
    <!-- we:引入公共footer -->
    <!-- start 列表模板引擎-->
    <script id="shopAllApp" type="text/html">
        <div class="product-list  m-bg-white">
            <ul class="product-ul">
                {{each isvProductList[0].productList as product}}
                <li>
                    <div class="view-img y-left">
                        <a target="_blank" href="./details.html?id={{product.productId}}">
                            <img src="{{product.logo}}">
                        </a>
                    </div>
                    <div class="view-info y-left">
                        <h1>
                            <a target="_blank" href="./details.html?id={{product.productId}}">
                               {{product.productName}}
                               <span>(</span><i>{{product.usableOs}}</i><span>)</span>
                           </a>
                       </h1>
                        <div class="cfg margin-top-4">
                            <span>
                               <span>交付方式：</span>
                            <span>{{product.deliverMode}}</span>
                            </span>
                        </div>
                        <div class="cfg mt6">
                          用友新一代人力资源云服务平台,致力于为企业人力资源管理
                          员工服务提供最佳的SaaS软件与服务。用友新一代人力资源
                          云服务平台,致力于为企业人力资源管理与员工服务提供d
                         </div>
                    </div>
                    <div class="view-msg">
                      <div class="view-msg-item">
                        交付方式 ：<span>镜像</span>
                        版本 ：<span>V1.0</span>
                      </div>
                      <div class="view-msg-item">
                        上架时间 ：<span> 2017-01-03</span>
                      </div>
                      <div class="view-msg-item">
                        关联的用友产品：<span>U商城</span>
                      </div>
                    </div>
                    <div class="view-price y-left">
                        <div class="title">
                            <span>
                               <i>￥</i>
                                {{if (product.specification.length > 0) }}
                                <span>{{product.specification[0].price}}</span> {{/if}} {{if (product.specification.length == 0) }}
                            <span>0</span> {{/if}}
                            <i>/月</i>
                            </span>
                        </div>
                    </div>
                    <div class="y-clear"></div>
                </li>
                {{/each}}
            </ul>
        </div>
    </script>
    <!--ws: 公共Script -->
    {{{include '../widget/public_script'}}}
    <!--we: 公共Script -->
    <script>
    require(['shop'], function() {});
    </script>
</body>

</html>
